<div id="channel-container" data-channel-id="<%= @channel.id %>">
  <div id="search-container">
    <%= render partial: 'spotify_search'%>
    <div id="search-results"></div>
  </div>
  <div id="vote-container">
    <h1>in the running:</h1>
    <div id="vote-results">
      <% @current_votes.each do |track| %>
        <%= render partial: 'track_card', locals: {track: track} %>
      <% end %>
    </div>
  </div>
  <div id="current-track-container">
    <h1>currently playing:</h1>
    <div id="current-track-results">
      <% if @current_track.present? %>
        <%= render partial: 'track_card', locals: {track: @current_track} %>
      <% end %>
    </div>
    <h1>up next:</h1>
    <div id="up-next-results">

    </div>
  </div>
</div>