<%= form_with(url: spotify_track_search_path(id: @channel.id), format: :json, remote: true, id: 'search_track_form', class: 'form-inline', ) do |form| %>
  <div class="input-group">
    <%= form.text_field :track_title, id: 'spotify-search-input', class: 'form-control form-control-lg', placeholder: 'search for a track'%>
    <div class="input-group-append">
      <%= form.submit 'search', class: 'btn btn-lg btn-success mb-2' %>
    </div>
  </div>
<% end %>