<h1>Create a Channel</h1>
<p>When you create a channel, you will be asked to authorize with Spotify.</p>
<p>People that join the channel will be able to vote on songs that will be added to a playlist titled 'Sockhop' on your Spotify account.</p>
<%= render 'form'%>