<h1>your stuff</h1>
<h3>your channels</h3>

<% if @channels.any? %>
  <%= render 'shared/channel_list_table' %>
<% else %>
  No channels
  <br>
  <%= link_to 'create a channel', new_user_channel_path(@user) %>
<% end %>
<br>

<h3>your account info</h3>
<%= link_to 'edit/delete', edit_user_registration_path %>