#############
trackCardHtml = (track) ->
  return """
    <div class="track-card" data-track-id="#{track.id}">
      <img src='#{track.image_med.url}'>
      <div class="btn vote-btn btn-success btn-xl">Vote</div>
      <div class="track-info">
        <div class="track-name"><em>Track: </em>#{track.name}</div>
        <div class="track-artist"><em>Artist: </em>#{track.artist}</div>
        <div class="track-album-name"><em>Album: </em>#{track.album_name}</div>
        <div class="track-duration"><em>#{track.duration_readable}</em></div>
      </div>
    </div>
  """

voteContainerHtml = () ->
  return """
  <div class="vote-container">
    <span>Votes</span>
    <span class="vote-count">0</span>
  </div>
  """

pusherChannel = ()->
  return $('#channel-container').attr('data-channel-name')


isAlreadyNominated = (track)->
  return nominatedTrackIds().includes(track.id)

nominatedTrackIds = ()->
  return $('#vote-results .track-card').map(()-> 
    return $(this).attr('data-track-id')
  ).get()

addVote = (track)->
  $card = $(getCardByTrackId(track.id))
  currentVoteCount = parseInt($card.find('.vote-count').text())
  $card.find('.vote-count').text(currentVoteCount + 1)

getCardByTrackId = (id)->
  return $("#vote-results .track-card[data-track-id='#{id}']")

addVoteContainerTo = ($card)->
  console.log($card)
  $(voteContainerHtml()).insertBefore($card.find('.track-info'));


####

class App.Channels
  constructor: () ->
    # intialize some stuff

  render: ->
    # do some stuff

$ ->
  return unless $(".channels.show").length > 0 || $(".channels.host").length > 0

  $('#search_track_form').on 'ajax:success', (data) ->
    tracks = data.detail[0]
    $('#search-results').empty()
    $.each tracks, (i, track) ->
      $card = $(trackCardHtml(track)).appendTo('#search-results')
      $card.data('track-data', track)
    return

  $(document).on 'click', '#search-results .track-card', ->
    trackData = $(this).data('track-data')
    $.post(
      window.location.pathname + '/vote',
      {vote: trackData},
      (result)->
        return
    )
    return

  pusher = new Pusher(
    '<%= ENV["pusher_key"] %>',
    cluster: '<%= ENV["pusher_cluster"] %>',
    encrypted: true,
    authEndpoint: '/pusher/auth',
    auth: {
      headers: {
        'X-CSRF-Token': FORM_AUTH_TOKEN
      }
    }
  )
 
  channel = pusher.subscribe(pusherChannel())
  presenceChannel = pusher.subscribe("presence-#{pusherChannel()}")

  channel.bind 'new_vote', (track) ->
    console.log('new vote!')
    # Handle this server-side?
    if isAlreadyNominated(track)
      console.log 'already nominated!'
      addVote(track)
    else
      $card = $(trackCardHtml(track)).appendTo('#vote-results')
      $card.data('track-data', track)
      addVoteContainerTo($card)
      addVote(track)
    return
  
  channel.bind 'current_track', (track) ->
    console.log('current track updated!')
    console.log( track )
    if !!track
      $('#current-track-results').empty()
      $card = $(trackCardHtml(track)).appendTo('#current-track-results')
    return

  presenceChannel.bind 'pusher:member_removed', (member) ->
    console.log member
    if member.info.is_host
      console.log 'host left!'
      $('body').css('background-color', 'lightpink')
    else
      console.log 'voter left!'
      # decrease viewer count?
    return

  presenceChannel.bind 'pusher:member_added', (member) ->
    console.log member
    if member.info.is_host
      console.log 'host joined!'
      $('body').css('background-color', 'white')
    else
      console.log 'voter joined!'
      # increase viewer count?
    return

  

  return
