#channel-container{
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  #search-container{
    max-width: 33%;
    flex-grow: 1;
  }
  #vote-container{
    max-width: 33%;
    flex-grow: 1;
    flex-shrink: 0;
  }
  #currently-playing-container{
    max-width: 33%;
    flex-grow: 1;
    flex-shrink: 0;
  }
}
#search-results{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.track-card{
  position: relative;
  width: 300px;
  img{
    max-width: 100%;
    height: auto;
  }
  .track-info{
    padding-left: 5px;
    background-color: rgba(0,0,0,0.7);
    color: white;
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.vote-btn {
  border-radius: 0px;
  display: none;
  position: absolute;
  top: 50%;
  width: 100%;
}

.track-card:hover{
  outline: 5px solid #28a745;
  outline-offset: -5px;
  .vote-btn{
    display: block;
  }
}

.vote-container {
  font-size: 3em;
  background-color: rgba(0,0,0,0.7);
  color: white;
  position: absolute;
  top: 15px;
  width: 100%;
}

#waiting-container{
  text-align: center;
}