#channel-container{
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  #search-container{
    max-width: 33%;
    flex-grow: 1;
  }
  #vote-container{
    max-width: 33%;
    flex-grow: 1;
  }
  #currently-playing-container{
    max-width: 33%;
    flex-grow: 1;
  }
}
#search-results{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.track-card{
  position: relative;
  max-width: 300px;
  border-radius: 5px;
  overflow: hidden;
  margin: 2px;
  img{
    max-width: 100%;
    height: auto;
  }
  .track-info{
    padding-left: 5px;
    background-color: rgba(0,0,0,0.7);
    color: white;
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.blank-track-card{
  max-width: 300px;
  
  display: flex;
  justify-content: center;
  align-items: center;

  // inverted
  background: $font-color;
  color: $background-color;

  h1 {
    font-size: 5em;
  }
}

// height match width
.blank-track-card:before{
  content: "";
  display: block;
  padding-top: 100%;}


.track-card.voteable:hover{
  cursor: pointer;
  .track-card-overlay{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  // outline: 5px solid #28a745;
  // outline-offset: -5px;
  // .vote-btn{
  //   display: block;
  // }
}

.track-card-overlay{
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: rgba(0, 255, 0, 0.2);
  .vote-btn{
    display: block;
  }
}

.vote-btn {
  display: none;
  font-size: 5em;
}

.vote-container {
  font-size: 3em;
  background-color: rgba(0,0,0,0.7);
  color: white;
  position: absolute;
  top: 15px;
  width: 100%;
}

#waiting-container{
  text-align: center;
}