<!DOCTYPE html>
<html>
  <head>
    <title>SockhopRails</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
